.container{
    border: 1px solid #a8e8e8;
    border-radius: 11px;
    width: 671px;
    height: 258px;
    margin: auto;
    /* margin-bottom: 23px; */
    margin-top: 94px;
}
.heading{
    font-size: 24px;
    margin-top: 25px;
    letter-spacing: 1px;
}
.body{
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
}